In [1]:
print("H")

H

In [2]:
import pandas as pd
import numpy as np

In [4]:
df01: pd.DataFrame = pd.DataFrame([1,2,3])
type(df01)

pandas.core.frame.DataFrame

In [7]:
df02: pd.Series = pd.Series('shaf')
df02

0    shaf
dtype: object

In [11]:
srs01: pd.Series = pd.Series([1,2,3,4,5], index=[["a", "b", "c","d","e"],["a", "b", "c","d","e"]], dtype=np.int16, name=123)
srs01

a  a    1
b  b    2
c  c    3
d  d    4
e  e    5
Name: 123, dtype: int16

In [14]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
s2 : pd.Series = pd.Series([10,20,30,40,50], name="score")
s3 : pd.Series = pd.Series(["Hamza","Ali","Junaid","Rashid","Konain"], name="student name")


df1 : pd.DataFrame = pd.DataFrame({"student":s1, "sco":s2, "studen":s3})
df1

   student  sco  studen
0        1   10   Hamza
1        2   20     Ali
2        3   30  Junaid
3        4   40  Rashid
4        5   50  Konain

In [18]:
df03: pd.DataFrame = pd.DataFrame({"name": [1,2,3]}) 
df03

   name
0     1
1     2
2     3

In [25]:
s1:pd.Series= pd.Series([1,2,3], name = "3")
len(s1)

3

In [33]:
data : list[list[int]] = [[1,2,3],
                          [4,5,6],
                          [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data, columns=["a", "b", "c"], index=["x","y","z"])

df

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9

In [39]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [38]:
df.index

Index(['x', 'y', 'z'], dtype='object')

In [54]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]], dtype=int64)

In [53]:
from nptyping import NDArray, Int64, Shape
from typing import Any

arr01: NDArray[Shape["10, 10"], Any] = np.arange(100).reshape(10,10)
df02: pd.DataFrame = pd.DataFrame(arr01, index=list('ABCDEFGHIJ'), columns=list('xyzxuzxizu'))
df02

    x   y   z   x   u   z   x   i   z   u
A   0   1   2   3   4   5   6   7   8   9
B  10  11  12  13  14  15  16  17  18  19
C  20  21  22  23  24  25  26  27  28  29
D  30  31  32  33  34  35  36  37  38  39
E  40  41  42  43  44  45  46  47  48  49
F  50  51  52  53  54  55  56  57  58  59
G  60  61  62  63  64  65  66  67  68  69
H  70  71  72  73  74  75  76  77  78  79
I  80  81  82  83  84  85  86  87  88  89
J  90  91  92  93  94  95  96  97  98  99

In [63]:
df02: list[pd.DataFrame] = pd.read_html('https://www.w3schools.com/js/js_operators.asp')
len(df02)
df02

[  Operator                   Description
 0        +                      Addition
 1        -                   Subtraction
 2        *                Multiplication
 3       **       Exponentiation (ES2016)
 4        /                      Division
 5        %  Modulus (Division Remainder)
 6       ++                     Increment
 7       --                     Decrement,
   Operator  Example     Same As
 0        =    x = y       x = y
 1       +=   x += y   x = x + y
 2       -=   x -= y   x = x - y
 3       *=   x *= y   x = x * y
 4       /=   x /= y   x = x / y
 5       %=   x %= y   x = x % y
 6      **=  x **= y  x = x ** y,
   Operator                        Description
 0       ==                           equal to
 1      ===         equal value and equal type
 2       !=                          not equal
 3      !==  not equal value or not equal type
 4        >                       greater than
 5        <                          less than
 6       >=           greater than or equal to
 7       <=              less than or equal to
 8        ?                   ternary operator,
   Operator  Description
 0       &&  logical and
 1       ||   logical or
 2        !  logical not,
      Operator                                        Description
 0      typeof                     Returns the type of a variable
 1  instanceof  Returns true if an object is an instance of an...,
   Operator           Description  Example      Same as  Result  Decimal
 0        &                   AND    5 & 1  0101 & 0001       1        1
 1        |                    OR    5 | 1  0101 | 0001     101        5
 2        ~                   NOT      ~ 5        ~0101    1010       10
 3        ^                   XOR    5 ^ 1  0101 ^ 0001     100        4
 4       <<            left shift   5 << 1    0101 << 1    1010       10
 5       >>           right shift   5 >> 1    0101 >> 1      10        2
 6      >>>  unsigned right shift  5 >>> 1   0101 >>> 1      10        2]

In [71]:
help pd.read_csv

SyntaxError: invalid syntax (1813096720.py, line 1)

In [77]:
from nptyping import NDArray, Shape, Int32
import numpy as np
from typing import Any

arr02: NDArray[Shape['10, 10'], Any]= np.arange(100).reshape(10,10)

df04: pd.DataFrame = pd.DataFrame(arr02, index=list('ABCDEFGHIJ'), columns=list('XYZUVWMNOP'))
df04

    X   Y   Z   U   V   W   M   N   O   P
A   0   1   2   3   4   5   6   7   8   9
B  10  11  12  13  14  15  16  17  18  19
C  20  21  22  23  24  25  26  27  28  29
D  30  31  32  33  34  35  36  37  38  39
E  40  41  42  43  44  45  46  47  48  49
F  50  51  52  53  54  55  56  57  58  59
G  60  61  62  63  64  65  66  67  68  69
H  70  71  72  73  74  75  76  77  78  79
I  80  81  82  83  84  85  86  87  88  89
J  90  91  92  93  94  95  96  97  98  99

In [128]:
df04.at["A" ] = '1,1,1,1,1,1,1,1,1,1'
df04

InvalidIndexError: You can only assign a scalar value not a <class 'str'>

In [134]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd','e'])
display(s1)
print("Applying sliding")
s1.iloc["b":"c"] = 9,0

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying sliding

TypeError: '<' not supported between instances of 'str' and 'int'