In [6]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: ......%d
Education : .....%s
""" % (name,fname,age, education)

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: ......30
Education : .....Master in Data Science

In [7]:
print("Name:\bMuhammad Qasim")

NameMuhammad Qasim

In [11]:
a : list[str] = [i for i in dir(str) if "__*__" not in i]
len(a)

81

In [14]:
names: str = [str(i) for i in range(1,100)]
"K" in names

False

In [17]:
A: list[str] = ["Shafqat", "Saima"]
nam : str = input("Enter Your Name ")

nam in A

True

In [18]:
x: int = 9_00000000_0000
x

9000000000000

In [19]:
x, y, v = 1,5,8
v

8

In [21]:
A= (1,2,3)
print(A)

(1, 2, 3)

In [18]:
info : str = "abcdefghijklmnopqrstuvw" #stuy
print(info[6:-9:-1])

In [24]:
from typing import Any
lst01 :list[str] = ["a"]
lst02: list[Any]  = ["a", False]

a,b = lst02
print(a*3,b)

aaa False

In [14]:
#           0123456
nam :str = 'Shafqat Hussain'
#           7654321
print(nam[1:1:-1])

In [35]:
lst01: list[str]= list("abcdefghijklmnopqrst")
lst02: list[str] = list("xyz")
lst02.extend(lst01)
print(lst02)
del lst02

['x', 'y', 'z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't']

In [44]:
lst02: list[str] = list("xyzabcx")

x: str = lst02.pop(2)
x

'z'

In [49]:
print("pzli", "loop", sep= "cvvv")

pzlicvvvloop

In [52]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [56]:
lst04: list[str] = ["a", "m"]

lst04.insert(1, "Shafqat Hussain SAPLA")
lst04

['a', 'Shafqat Hussain SAPLA', 'm']

In [61]:
lst99: list[str] = ["x","y", "z"]
lst98: list[str] = lst99.copy()
[i for i in dir(str)]

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [66]:
a: list[str] = ["a", "b", "c", "a"]
a.index('a', 1)

3

In [7]:
lst05: list[int] = list(range(1,11))
lnt : int = len(lst05)

while(lnt):
    print(f"{lnt} * 2 = {2 * lnt}")
    lnt = lnt - 1

10 * 2 = 20
9 * 2 = 18
8 * 2 = 16
7 * 2 = 14
6 * 2 = 12
5 * 2 = 10
4 * 2 = 8
3 * 2 = 6
2 * 2 = 4
1 * 2 = 2

In [5]:
lst06 : list[str] = ["Shafqat", "V", "H","po"]

for name in lst06:
    print(name)
    continue
else:
    print("the loops ")

Shafqat
V
H
po
the loops

In [15]:
lst09 = (9,8,7,6,5,4)
for ind, val in enumerate(lst09):
    print(ind,val)

0 9
1 8
2 7
3 6
4 5
5 4

In [16]:
tup01: tuple[str, str] =("a", "n")

tup01[2] = "p"

TypeError: 'tuple' object does not support item assignment

In [9]:
lst03 : list[int] = list(range(10))

def add_num(x):
    return x**2
new_lst03  = list(map(add_num, lst03))
new_lst03

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
lst07: list[int] = [1,2,3,4,5,6,7,8,11,12]

def getSquare(x):
    return x+ 10

lst07_new = [getSquare(x) for x in lst07 if x >10]
lst07_new

[21, 22]

In [2]:
lst10: list[str] = ['a', 'b', 'c', 'd', 'e']

lst10[-2:-5:-1]

['d', 'c', 'b']

In [ ]:
lst11: list[int] =list((1,2,3))

In [7]:
square = lambda z: z**2
square(2)

4

In [9]:
Summation = lambda *x : x
type(Summation(1,2,3,4))

tuple

In [10]:
seq = lambda : 3
seq()

3

In [20]:
def printName(fn):
    fn(x)

getin = lambda x: x + 10
printName(getin(2))

NameError: name 'x' is not defined

In [24]:
sqrlist = map(lambda x:x+ 10, [1,2,3,4,5])# passing anonymous function
list(sqrlist)

[11, 12, 13, 14, 15]

In [1]:
a: list[str] =list({"a": "Shafqat","b":"Shoukat", "c": "hushmat"})
a

['a', 'b', 'c']

In [5]:
a:list[int]= [1,2,3]
b:list[int]= [4,5]
c:list[int]=[6,7]
a+b+c *2

[1, 2, 3, 4, 5, 6, 7, 6, 7]

In [4]:
a: list[int] = [0,1,2,3,4,5,6,7,8,9]
a[-2:-6:-2]

[8, 6]

In [16]:
a: list[int] = [1,2,3,4,5,6]
b: list[int] = {"7":5,9:8}
a.extend(b)
a

[1, 2, 3, 4, 5, 6, '7', 9]

In [19]:
a =[1,2,3,4,5]
b = a
a[0]=9
print(a)
print(b)

[9, 2, 3, 4, 5]
[9, 2, 3, 4, 5]

In [23]:
numbers = [1, 5, 3, 4, 5, 6, 3, 5, 9, 6]

pos : int = numbers.index(5)
print(f"the position of 5 is: {pos}")
print(f" the last occurance of 5 is: {numbers.index(5, -5,-1)}")

the position of 5 is: 1
 the last occurance of 5 is: 7

In [24]:
a: list[int] = [1,2,3]
b:tuple[int, int] = (8,9)
a.insert(0,b)
a

[(8, 9), 1, 2, 3]

In [34]:
a: list[int] = [1,2,3]
a.pop(4)

IndexError: pop index out of range

In [33]:
b: list[int] =[1,2,3,4,5,6]
b.remove(4,5)
b

TypeError: list.remove() takes exactly one argument (2 given)

In [37]:
a = ['a', 'b', 'c',[9,8], 'd', 'e']
a[::-1]
a[3][::-1]

[8, 9]

In [41]:
nums = [1, 5, 3, 4, 2, 10, 6, 8, 7, 9]
nums.sort(reverse=True)
nums

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [57]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
a = map(lambda x: len(x), cities)

TypeError: 'NoneType' object is not iterable

In [46]:
cities = ['ababab', 'Mumbai', 'London', 'Paris', 'New York']
cities.sort(key=len)
cities

['Paris', 'ababab', 'Mumbai', 'London', 'New York']

In [60]:
names = ['Steve', 'Bill', 'Ram', 'Mohan', 'Abdul']

[x for x in names if 'b*' not in x]

['Steve', 'Bill', 'Ram', 'Mohan', 'Abdul']

In [63]:
x:list[int] = [1,2,3,4,5]
y: list[str] = ['a', 'b', 'c', 'd', 'e']
[(a,b) for a in x for b in y if x!=y ]

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (1, 'd'),
 (1, 'e'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (2, 'd'),
 (2, 'e'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c'),
 (3, 'd'),
 (3, 'e'),
 (4, 'a'),
 (4, 'b'),
 (4, 'c'),
 (4, 'd'),
 (4, 'e'),
 (5, 'a'),
 (5, 'b'),
 (5, 'c'),
 (5, 'd'),
 (5, 'e')]

In [4]:
tup01 = (8,)
type(tup01)

tuple

In [6]:
tup02  = ('1', '2', '3', '4', '5', '6', '7')
tup02[-2:-4:-1]

('6', '5')

In [9]:
a ={1,2,3,4, (6,8), 3, "i"}
a

{(6, 8), 1, 2, 3, 4, 'i'}

In [10]:
a = {}
type(a)

dict

In [14]:
a= set("hello")
a

{'e', 'h', 'l', 'o'}